<ul>
<li><a href = "/books">書籍一覧</a></li>
<li><a href = "/books/new">新規書籍登録</a></li>
<li><%= link_to 'アカウント更新', chpass_path(@user) %></li>
<!--<%#= p @rent %>-->
<li><%= link_to 'ログアウト', logout_path %></li>
<li><%= link_to 'Top', mypage_path %></li>
<li><a href = "/users/new">ユーザー登録<a></li>
</ul>
